.ui.card > .cardContents > .cardImage {
  /* height: 77%; */
  overflow: hidden;
}

.ui.card > .cardContents > .cardWrittenContents {
  max-height: 100%;
  padding: 0.75em 1em;
}

.ui.card > .cardContents {
  max-height: 100%;
  height: 23em;
  overflow: scroll;
  color: rgba(0,0,0,.87);
}

.infScroller {
  margin-top: 100px;
}
